/* Home */

#home{
  background: skyblue;
  background: linear-gradient(90deg, rgb(skyblue) 50%, rgba(teal) 100% );
  min-height: 500px;
}

/* Cards */
.card{
  transition: all 0.5s ease;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
};

